
* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: sans-serif;
    background-image: url("/imagen/fondo-borde-floral-primavera-verde-ilustracion-acuarela-hoja_53876-126807.webp");
    box-sizing: border-box;
  }
  
  
  header {
    width: 100%;
    background: rgba(41, 68, 43, 0.557);
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    label {
        display: none;
        width: 30px;
        height: 30px;
        padding: 20px;
        
        
        li:hover {
            cursor: pointer;
            background: rgba(0, 0, 0, 0.3);
          }
      }
      

  }
  #btn-menu {
    display: none;
    margin: 0;
  }

.menu  {
    margin: 0;
    padding: 0;
    ul{
        list-style: none;
        display: flex;
        justify-content: end;
        margin-right: 20px;
        li{
            text-decoration: none;
        }
        li:hover {
            background: rgba(0, 0, 0, 0.3);
            transition: 2s;
            border-radius: 10px;
             a {
                display: block;
                padding: 15px 20px;
                color: #fff;
                text-decoration: none;
           }
    
        }
  
  
    }
    
  
  
}

.logo1{
    display: flex;
    justify-content: left;
    margin-top: 50px;
    margin-left: 20px;
   
}
  @media (max-width: 768px) {
    header label {
      display: flex;
      justify-content: center;
      margin-top: 90px;
      width: 60px;
      height: 60px;
    }
    .menu {
      position: absolute;
      background: rgba(41, 68, 43, 0.687);
      width: 70%;
      margin-left: -70%;
      transition: all 1s;
      ul{
        flex-direction: column;
      }
      li {
        margin-top: 20px;
        a{
            color: black;
            text-decoration: none;
            &:hover{
                background: rgba(0, 0, 0, 0.3);
                transition: 2s;
                border-radius: 10px;
            }
            
        }
      }
    }
    
    #btn-menu:checked ~ .menu {
      margin: 0;
    }

    .caja1 {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    transition: 3s all;
     }
  .formulario {
    padding-right: 30px;
  }
  .galeria {
    transition: 3s all;
  }
  .titulo__sobremi .h1 {
    display: flex;
    justify-content: center;
    padding-top: 20%;
  }
  .logo1{
    display: flex;
    justify-content: center;
    font-size: 45px;
    
}
  }
/* finde de menu */

  /* Comienzo de la imagen*/
.carrousell {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.imagen__nutri {
  justify-content: center;
  width: 700px;
  margin-top: 200px;
  border-radius: 10px;
}

/* Fin de la Imagen*/

/* Comienzo sobre Mi */
.article__sobremi {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 10%;
    color: black;
    text-decoration: none;
    .sobremi {
        max-width: 780;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 5%;
      }
  }
  
  
  
  .contenedor {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    .contenedorP {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 50%;
        align-items: center;
        line-height: 1.6;
        font-weight: 700;
        font-size: large;
      }
  }
  
  
  
  /*finaliza sobre mi*/

  /*comienzo cartas*/
  .grillaImagen {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    .imagenGrilla {
        width: 400px;
        padding: 10%;
        border-radius: 10px;
      }
  }
  
  .contendorTitulos {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    width: 1500px;
    margin-left: 8%;
    font-size: larger;
    .titulosGrilla {
        color: black;
      }
  }
  /*finaliza cartas*/

  .galeria {
    padding: 32px;
    
  }
  .carousel-inner {
    padding: 20px;
  }
  
  
  /*Comienza formulario*/
.texto-turnos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15%;
    font-size: 40px;
    align-items: center;
    .caja1 {
        display: flex;
        justify-content: center;
        width: 100%;
        
      }
  }
  
  .formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    margin-left: 30%;
    margin-top: 10%;
    
    
    .formulario__texto {
        font-size: 20px;

      }
  }
  
  .input__submit {
    width: 200px;
  }
  
  /*finaliza formulario*/

  /*comienzo footer*/

  footer {
    background-color: rgba(128, 128, 128, 0.613);
    text-decoration: none;
    width: 100%;
    margin-top: 20%;
    .h2C {
        font-size: 30px;
        padding-left: 50px;
        
      }
  }
  
  .contactos-texto {
    font-size: 24px;
    padding-left: 20px;
  }
  /*finaliza footer*/
  
  
  
  @media (max-width: 768px) {
    .imagenGrilla {
      display: flex;
      justify-content: center;
    }
    .cartas div {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
    }
    .logo {
      color: #fff;
      margin-top: 10%;
    }
    .article__sobremi {
      color: rgba(0, 0, 0, 0.509);
      padding-left: 30%;
    }
}

/*estilos sobre mi*/
.titulo__sobremi .h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 10%;
    color: black;
    text-decoration: none;
  }

  
  .cartas {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(41, 68, 43, 0.557);
    width: 100%;
  }
  
  .cartas  {
    display: flex;
    justify-content: space-around;
    background-color: beige;
    div{
        width: 600px;
        height: 600px;
        margin: 10px;
        border-radius: 10px;
        margin-left: 20px;
        .imagen1 {
            display: flex;
            justify-content: center;
            width: 570px;
            margin: 10px;
            border-radius: 10px;
          }
    }
   
  }
  
  
  
  
  
  